<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <title>Listen To The Clouds - Live as the world flies</title>
    <meta name="description"
          content="Background noise while you work or relax. Listen to live streamed air traffic radio chatter."/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.1/vue.min.js"></script>
    <script src="https://use.fontawesome.com/2d8e1bc7c7.js"></script>
    <script src="https://w.soundcloud.com/player/api.js"></script>
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/styles.css?v1">
</head>

<body>

<div class="video-background">
    <div class="video-foreground">
        <iframe id="video"
                src="https://www.youtube.com/embed/YgmIibSnZs0?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=YgmIibSnZs0&enablejsapi=1"
                frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="skyloader"></div>
</div>

<div id="live">
    <span class="dot"></span>Live: &nbsp <span class="current"> Chicago</span>
</div>

<div id="noise">
    Background noise while you work or relax
    <p class="mobilewarning">(Works better if you are not on a mobile device... sorry)</p>
</div>

<div id="vidtop-content">

    <div id="app">

        <div id="vcontrols">
            <div class="playpause" :data-state="isPlayingState" @click="changeState">
                <div class="fa" v-bind:class="[{'fa-pause':isPlaying,'fa-play':!isPlaying}]"></div>
            </div>
            <div class="button nxt">
                <div class="fa fa-forward"></div>
            </div>
            <div class="clearfix"><span>
            Airport chatter: </span><input id="vc_radio" type="range" min=0 max=100 value="50"/></div>
            <div class="clearfix"><span>Ambient music:</span> <input id="vc_music" type="range" min=0 max=100 value="50"/></div>
        </div>

        <div class="ybile">
            <h1 class="ybile-r2">Listen to the clouds</h1>
            <h1 class="ybile-r3">live, as the world flies</h1>

            <h1 style="margin-top:60px">Airports</h1>

            <p class="airport-info">(This is a live radio transmission, if it's silent, the airports aren't very chatty
                at the moment)</p>

            <div id="airports">
                <div v-for="region in regions">
                    <h3>{{region.name}}</h3>
                    <ul>
                        <li v-for="ap in airportsBucket(region)" :data-code="ap.code" class="airport"
                            v-on:click="listenTo(ap)"
                            v-bind:class="[{'error':ap.error}, (loading && activeCode === ap.code) ? 'loading' :'', activeCode === ap.code ? 'active' : '']">
                            <span class="airport-name">{{ ap.text }}</span>
                            <span v-if="ap.error" class="airport-error">(Offline)</span>
                            <span class="airport-iata">{{ ap.iata }}</span>
                            <div v-if="loading && activeCode === ap.code" class="borderspin"></div>
                            <div v-if="loading && activeCode === ap.code" class="spinner"></div>
                        </li>
                    </ul>

                    <a href="#" v-if="getHiddenCount(region) > 0 && !region.showAll"
                       v-on:click.prevent="showMore(region)" class="btn">Show {{getHiddenCount(region)}} more in
                        {{region.name}}</a>
                </div>
            </div>

            <audio id="stream" src="" autoplay controls volume="0.4" style="visibility: hidden">
                <p>Your browser does not support the <code>audio</code> element.</p>
            </audio>

            <h1 style="margin-top:3rem;">Ambient music</h1>
            <p style="text-align:center">Volume: <input id="vc_control" type="range" min="0" max="100" value="100"/></p>
            <div style="text-align:center;">
                <iframe id="soundcloud_player_iframe" width="480" height="300" scrolling="no" frameborder="no"
                        src=""></iframe>
            </div>

        </div>
    </div>

</div>

<script src="js/app.js?v3"></script>

</body>
</html>